.wrapper-cus{
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    padding: 30px;
  }
  
  .wrapper-cus .title-cus{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #191919;
    background-color: #ccc;
    text-transform: uppercase;
    text-align: center;
  }
  .wrapper-cus .error{
    color: #721c24;
    background:#bda47d;
    padding: 8px 10px;
    text-align: center;
    border: 1px solid #f5c6cb;
    font-size: 15px;
    letter-spacing: 1px;
    display: none;
}
  
  .wrapper-cus .form-cus{
    width: 100%;
  }
  .wrapper-cus .form-cus .inputfield-cus{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
  .wrapper-cus .form-cus .inputfield-cus label{
     width: 200px;
     color: #757575;
     margin-right: 10px;
    font-size: 14px;
  }
  
  .wrapper-cus .form-cus .inputfield-cus .input-cus,
  .wrapper-cus .form-cus .inputfield-cus .textarea-cus{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  
  .wrapper-cus .form-cus .inputfield-cus .textarea-cus{
    width: 100%;
    height: 125px;
    resize: none;
  }
  
  .wrapper-cus .form-cus .inputfield-cus .custom_select-cus{
    position: relative;
    width: 100%;
    height: 37px;
  }
  
  .wrapper-cus .form-cus .inputfield-cus .custom_select-cus:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
  }
  
  .wrapper-cus .form-cus .inputfield-cus .custom_select-cus select{
    -webkit-appearance: none;
    -moz-appearance:   none;
    appearance:        none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
  }
  
  
  .wrapper-cus .form-cus .inputfield-cus .input-cus:focus,
  .wrapper-cus .form-cus .inputfield-cus .textarea-cus:focus,
  .wrapper-cus .form-cus .inputfield-cus .custom_select-cus select:focus{
    border: 1px solid #bda47d;
  }
  
  .wrapper-cus .form-cus .inputfield-cus p{
     font-size: 14px;
     color: #757575;
     margin-bottom: 0px;
  }
  .wrapper-cus .form-cus .inputfield-cus .check-cus{
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
  }
  .wrapper-cus .form-cus .inputfield-cus .check-cus input[type="checkbox"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .wrapper-cus .form-cus .inputfield-cus .check-cus .checkmark-cus{
    width: 15px;
    height: 15px;
    border: 1px solid #bda47d;
    display: block;
    position: relative;
  }
  .wrapper-cus .form-cus .inputfield-cus .check-cus .checkmark-cus:before{
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 2px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
  }
  .wrapper-cus .form-cus .inputfield-cus .check-cus input[type="checkbox"]:checked ~ .checkmark{
    background: #fec107;
  }
  
  .wrapper-cus .form-cus .inputfield-cus .check-cus input[type="checkbox"]:checked ~ .checkmark:before{
    display: block;
  }
  
  .wrapper-cus .form-cus .inputfield-cus .btn-cus{
    width: 100%;
     padding: 8px 10px;
    font-size: 15px; 
    border: 0px;
    background:  #191919;
    color: #fff;
    cursor: pointer;
    outline: none;
    height: 50px;
    letter-spacing: 3px;
  }
  
  .wrapper-cus .form-cus .inputfield-cus .btn-cus:hover{
    background: #bda47d;
  }
  
  .wrapper-cus .form-cus .inputfield-cus:last-child{
    margin-bottom: 0;
  }
  
  @media (max-width:420px) {
    .wrapper-cus .form-cus .inputfield-cus{
      flex-direction: column;
      align-items: flex-start;
    }
    .wrapper-cus .form-cus .inputfield-cus label{
      margin-bottom: 5px;
    }
    .wrapper-cus .form-cus .inputfield-cus.terms-cus{
      flex-direction: row;
    }
  }