body{
    font-family: inherit;
    line-height: inherit;
}

.mainmenu .container .login-signup-image {
    padding-top: -200px;
    width: 100%;
    height: 270px;
    background-size: cover
}
.mainmenu .container h2 {
    position: relative;
    font-size: 28px;
    text-align: center;
    top: 20px;
    padding: 10px;
}
.sign-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 30px;
}
.sign-login .error-txt{
    color: #721c24;
    background:#bda47d;
    padding: 8px 10px;
    text-align: center;
    border: 1px solid #f5c6cb;
    font-size: 15px;
    letter-spacing: 1px;
    display: none;
}
.image{
    width: 45%;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wrap2{
    width: 80%;
    position: relative;
    border-bottom: 2px solid #b2b2b2;
    margin-bottom: 13px;
}
.wrap{
    display: flex;
    width: 80%;
    justify-content: center;
}
.f1{
    border-bottom:2px solid #b2b2b2 ;
    width: 40%;
    position: relative;
}
.f2{
    border-bottom:2px solid #b2b2b2 ;
    margin-left: auto;
    width: 50%;
    position: relative;
}
.wrap label, .wrap2 label{
    font-size: 12px;
    color: #676768;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    width: 80%;
    min-height: 25px;
    border-bottom: none;
    padding: 15px 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 2px;
}
.first-name, .user-name, .email, .phone, .password{
    display: block;
    width: 100%;
    font-size: 18px;
    background: transparent;
    color: #0f0f0f;
    font-weight: 500;
    padding: 10px 0px;
}
/************BUTTON*****************/
.sign-login .btn{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    outline: none;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 5px;
    border: none;
    background: #191919;
    color: #fff;
    box-shadow: 8px 10px 30px rgba(0, 0, 0, 0.329);
    transition: 0.4s;
}
.sign-login p {
    color: #bda47d;
}
.sign-login .btn:hover{
    background: #bda47d;
    color: #fff;
}
/*************INPUT ANIMATION-SPAN********************/

.focus-input{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.focus-input::before{
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.6s;
    background: #412277;
}
input:focus + .focus-input::before{
    width: 100%;
}
.has-val.input + .focus-input::before{
    width: 100%;
}
.focus-input2{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.focus-input2::before{
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.6s;
    background: #412277;
}
input:focus + .focus-input2::before{
    width: 100%;
}
.has-val.input + .focus-input2::before{
    width: 100%;
}
input[type="number"]{
    overflow: hidden;
}
.sign-login p {
    font-size: 12px;
}
/********************RESPONSIVE***************/

@media(max-width:1250px){
    .container{
        width: 90%;
    }
}
@media(max-width:768px){
   
}
@media(max-width:1000px){
    .image{
        display: none;
    }
    
    .form{
        width: 100%;
    }
}
@media(max-width:500px){
    .wrap{
        flex-direction: column;
    }
    .f1,.f2{
        width: 100%;
        margin: 0px;
    }
}