@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap');
/* lấy font chữ trên fonts.google.com */
:root{
    
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
 
    --text-color: white;
    --bg-color: #eee;
  
}

*{
  
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
   
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    line-height: inherit;
}
h2 {
    font-weight: 500;
    line-height: 1.2;
}
body{
   
    font-family: 'Segoe UI';
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:var(--black);
}

.heading span{
    background: var(--orange);
    color:#fff;
    display: inline-block;
    padding:.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.header{
    position: absolute;
    top:0; left:0; right: 0;
    z-index: 1000000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:#fff;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
}

.header .logo .box-icon {
    color:var(--orange);
}
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
    font-family: 'Segoe UI', sans-serif;
	padding: 0 5%;
	height: 100px;
	background-color: #fff;
}
nav .icons div{
    height: 4.5rem;
    width: 4.5rem;
    float: right;
    line-height: 4.5rem;
    border-radius: .5rem;
	margin-top: 30px;
    background: #fff;
    color:var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

nav .icons div:hover{
    color: #444;;
}
nav .logo {
	float: left;
	width: 20%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
}
nav .logo i {
    padding: 2px;
}
nav .links {
	float: left;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: inline-block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #4b4c4d;
	text-decoration: none;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #4b4c4d;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}

nav .search-form{
    position: absolute;
    color: #eee;
   
    top:110%; right:-110%;
    width: 55rem;
    height:40rem;
    background: #191919;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

nav .search-form.active{
    right:2rem;
    transition: .4s ease-in-out;
}
nav .search-form input{
    height:100%;
    width:100%;
    background: none;
    text-transform: none;
    font-size: 30px;
    color:var(--black);
    padding:0 1.5rem;
}

nav .search-form label{
    font-size: 2.2rem;
    padding-right: 8rem;
    color:var(--black);
    cursor: pointer;
}

nav .search-form label:hover{
    color:var(--orange);
}
nav .login-form{
    position: absolute;
    top:110%; right:-110%;
    width: 55rem;
    height:40rem;
    background-color: #191919;
    color: #949494;
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 55px;
    line-height: 30px;
}


nav .login-form.active{
    right:2rem;
    transition: .4s linear;
}

nav .login-form h3{
    font-size: 18px;
    text-transform: uppercase;
    color: var(--black);
}

nav .login-form .box{
    width: 70%;
    margin:.7rem 0;
    background:#444;
    padding: 1rem;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
    padding: 130px, 50px, 100px;
}

nav .login-form p{
    font-size: 1.4rem;
    padding:.5rem 0;
    color:var(--light-color);
}

nav .login-form p a{
    color:#bda47d;
    text-decoration: underline;
}
nav .login-form .logout {
    font-size: 18px;
    display: flex;
    padding-left: 170px;
    padding-top: 20px;
    text-transform: uppercase;
    color: #ddd;
    height: 90px;
    width: 400px;
}
nav .login-form a:hover {
    background: #191919;
    color: #bda47d;
}
nav .login-form .btnLogin {
    width: 70%;
    margin:.7rem 0;
    background:#bda47d;
    padding:1rem;
    font-weight: 200;
    font-size: 17px;
    letter-spacing: 2px;
    color:black;
    text-transform: none;
  
}
nav .login-form .btnLogin:hover {
    background: #191919;
    color: #fff;
}
nav .login-form .btnLogout {
    width: 70%;
    margin:.7rem 0;
    background:#bda47d;
    padding:1rem;
    font-weight: 200;
    font-size: 17px;
    letter-spacing: 2px;
    color:black;
    text-transform: none;
}
.wrapper {
    position: absolute;
    padding-top: 100px;
}
/* -------------------------------------MENU--------------------------------------------------- */
.container-s {
    clear: both;
    width: 100%;
    display: table;
    padding-left: 20px;
}


.sliderows {
    clear: both;
    padding-left: 75px;
    position: relative;
    height: 1000px;
    width: 1500px;
    
}


.nav-catalog {
    /* border cho first nav-catalog */
    border-color: black #eee #eee #ddd;
    border-style: solid;
    border-width: 2px 1px 1px;
    clear: both;
    height: 45px;
    margin-top: 10px;
    position: relative;
    z-index: 99;
    width: 1169px;
}

.nav-catalog .name-parent-items {
    background: black none repeat scroll 0 0;
    float: left;
    margin: -1px;
    padding-left: 20px;
    padding-right: 20px;
    width: 155px;
}

.nav-catalog .name-parent-items a {
    color: white;
    font-size: 14px;
    line-height: 42px;
    text-decoration: none;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.nav-catalog .name-parent-items:after
{
    /* tạo ||> */
    border-bottom: 20px solid transparent;
    border-left: 11px solid black;
    border-top: 20px solid transparent;
    content: "";
    height: 0;
    margin-left: 22px;
    margin-top: 1px;
    position: absolute;
    width: 0;
}

.nav-catalog .sub-menu  {
    /* có thể thêm border | */
    border: none !important;
}

.nav-catalog .sub-menu {
    border-right: 1px solid black;
    float: right;
    height: 18px;
    line-height: 18px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 9px;
    font-weight: 100;
}

.nav-catalog .sub-menu a {
    color: black;
    font-size: 14px;
    font-weight: 100;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    float: right;
}

.nav-catalog .sub-menu i:before
{
    color: #ccc;
    content: "\f105";
    display: block;
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 6px;
    margin-top: 2px;
}

.sliderows .product-row .owl-item h2
{
    clear: both;
    height: 36px;
    overflow: hidden;
    padding: 5px;
    text-align: center;
}

.sliderows .product-row .owl-item h2 a {
    color:black;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    text-decoration:none;
}
/* banner-rows - chua code */ 

/* hien thi san pham - product-row */
.sliderows .product-row {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    clear: both;
    padding-top: 25px;
    width: 1168px;
}

.product-row-item1 {

    width: 100%;
}

.product-row-menu {
    margin-top: 150px;
}
.product-item {
    /* border cho san pham */
    width: 291px;
    float: left;
    /* border-right: 1px solid black;
    border-left: 1px solid black; */
    margin-bottom: 90px;
} 
.product-row-a a img {
    width: 289px;
    height: 296px;
}
/* hover image */
.product-row-a img{display:block;transition: all .3s ease;}
.product-row-a img:hover{transform: scale(1.5);}
.product-row-a a{display:block;overflow: hidden;} 

.product-item .product-row-a a{
    text-decoration: none;
    color: black;
}

.sliderows .product-row .product-row-a {
    clear: both;
    height: 310px;
    position: relative;
}

.sliderows .product-row .owl-item .images {
    clear: both;
    display: block;
    height: 220px;
    overflow: hidden;
    text-align: center;
}

.owl-carousel .owl-item {
    float: left;
}

.sliderows .product-row .owl-item .price
{
    clear: both;
    font-size: 15px;
    margin: auto;
    text-align: center;
}

.ratings {
    clear: both;
    display: table;
    font-size: 11px;
    margin: auto;
    position: relative;
    text-align: left;
}

.rating-box::before {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    content: "";
    letter-spacing: 2px;
    position: relative;
}

.rating-box .rating::before {
    content: "";
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

.sliderows .add-cart {
    
    background: black none repeat scroll 0 0 !important;
    border: 1px solid white !important;
    color: #fff !important;
    /* display: none; */
    position: absolute;
    bottom: -24%;
    left: 72px;
}

.add-cart {
    background: black none repeat scroll 0 0 !important;
    border: 1px solid #ddd;
    clear: both;
    color: #fff !important;
    cursor: pointer;
    font-size: 13px;
    margin: 4px auto auto;
    padding: 6px;
    text-align: center;
    letter-spacing: 2px;;
    width: 145px;
}

.add-cart i {
    display: inline-block;
    font-size: 16px;
    padding-right: 5px;
    
}
.add-cart:hover {
    background: #bda47d !important;
    color: #fff !important;
}
.sliderows .add-cart:hover {
    background: #bda47d !important;
    color: #fff !important;
    
}

.add-cart:hover i {
    color: #fff;
}

.add-cart:hover {
    background: #bda47d;
    color: #fff;
    
}

/* .add-cart i:before {
    content: "";
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    
} */

.product-item:hover .add-cart {
   
    display: block !important;
}
.price {
   
    color: black;
    font: 700 14px/22px 'Roboto', sans-serif;
}
/* ----------------------------- */
ul .menu-left {
    padding-left: 14px;
}

ul.menu-left li {
    list-style: none;
}

ul.menu-in-left {
    
    padding-left: 18px;
    padding-top: 6px;
}
ul.menu-in-left li{
    list-style: none;
}

a.title {
    color: #e41855;
}

ul.menu-in-left li:before {
    content: "";
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-right: 5px;
}

ul.menu-in-left li:hover {
    color:rgb(163, 154, 150);
}


/* css cho phần show sản phẩm và phân trang */
.content {
    margin-top: 120px !important;
}

.content:after {
    display: table;
    clear: both;
    content: "";
}

section {
    margin:93px auto 0;
    width:1170px;
}

.filter {
    float: left;
    width: 200px;
    margin-top: 18px;
}

.filter_sp {
    background: white none repeat scroll 0 0;
    border: 1px solid white;
    border-radius: 1px;
    clear: both;
    padding: 10px;
    width: 200px !important;
}

.filter .general {
    border-bottom: 1px dotted #cbcbcb;
    clear: both;
    padding-bottom: 10px;
    position: relative;
}

.product-page {
    float: right;
    padding-bottom: 20px;
    width: 936px;
}

.product-border {
    
    display: table;
    margin-top: 8px;
    width: 924px;
}

.product-page .product-item {
    float: left;
    height: 341px;
    overflow: hidden;
    padding: 10px;
    width: 210px;
}

.product-page .product-item .images {
    clear: both;
    display: block;
    height: 196px;
    overflow: hidden;
    text-align: center;
}

.product-page .product-item h2 {
    height: 40px;
    overflow: hidden;
    text-align: center;
    font-weight: normal;
    font-size:13px;
}

.product-page .product-item .price {
    clear: both;
    font-size: 15px;
    margin: auto;
    text-align: center;
}

.product-page .product-item img{
    width: 210px;
}

.paging a b.prev:before {
    content: "";
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 22px;
    line-height: 30px;
}

.paging a b.next:before {
    content: "";
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 22px;
    line-height: 30px;
}

span.color_current
{
    color:#f03023;
}

.ul-paging li {
    list-style:none;
    float:left;
}

.ul-paging {
    margin-bottom:0px;
    margin-top:0px;
    float:left;
    padding-left:0px;
}

.ul-paging li {
    padding: 5px 9px;
    border: 1px solid #CCC;
    border-radius: 30px;
    line-height: 18px;
    margin-right: 2px;
}
/* ------------------------------------END MENU------------------------------------------------- */
/* ------------------------------------Chi tiết Sp---------------------------------------------- */

.navigations {
    clear: both;
    height: 25px;
    line-height: 25px;
    margin-top: 93px;
}

.back-room{
    clear: both;
    height: 25px;
    line-height: 25px;
    margin-top: 93px;
}

.back-room span {
    display: block;
    float: left;
    padding-right: 4px;
    font-size:12px;
}

.homepage{
    text-decoration:none;

}

.back-room .tittleRm {
    display: inline;
    color: #e34d86;
}

section.product_d .detail_p {
    clear: both;
    padding-bottom: 10px;
}

section.product_d .images_d {
    float: left;
    max-height: 356px;
    overflow: hidden;
    text-align: center;
    width: 356px;
}

section.product_d .images_d img {
    width:350px;
    height: auto !important;
}

section.product_d .detail_p .desProduct {
    float: left;
    padding-left: 10px;
    width: 496px;
}

section.product_d .detail_p .desProduct h1.detailPT {
    clear: both;
    font-size: 20px;
    padding-bottom: 6px;
    line-height: 140%;
    font-weight:100;
}

.proFtiter {
    clear: both;
    padding-bottom: 4px;
    padding-top: 2px;
}

.proFtiter span {
    color: #ff551f;
    font-size: 14px;
    font-weight: bold;
}  

.pr_det_price {
    float: left;
    line-height: 22px;
    margin-top: 8px;
    padding-bottom: 5px;
}

.pr_det_price .tittle {
    float: left;
    padding-right: 5px;
}

.pr_det_price .price {
    float: left;
}

.pro_dg {
    float: left;
    margin-left: 8px;
}

.pro_dg .pro_dg_tt {
    float: left;
    margin-top: 4px;
}

.pro_dg .ratings {
    font-size: 15px;
}

.shareFa {
    background: #999999 none repeat scroll 0 0;
    border-radius: 1px;
    color: #fff;
    display: block;
    float: left;
    font-family: FontAwesome;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    margin-left: 8px;
    text-align: center;
    width: 50px;
}

.proDha {
    clear: both;
    display: table;
}
.proDha .btDah {
    background: black none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    float: left;
    height: 33px;
    padding: 7px 6px 12px;
    text-align: center;
    width: 259px;
}

.proDha .btDah .bttOp, .yctv {
    clear: both;
    display: block;
    font-weight: bold;
}


















/* ------------------------------------CSS GIỎ HÀNG-------------------------------------------- */
/* Phần css cho header - shopping-cart */
.header .shopping-cart{
    position: absolute;
    top:110%;
    right:-110%;
    padding:1rem;
    width: 60rem;
    height:50rem;
    box-shadow: var(--box-shadow);
    background: #191919;
    overflow: scroll;
}

.header .shopping-cart.active{
    right:2rem;
    transition: .4s ease-in-out;
}

.header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap:1rem;
    position: relative;
    margin:1rem 0;
}

.header .shopping-cart .box img{
    height:10rem;
}

.header .shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top:50%; right:2rem;
    cursor: pointer;
    color:var(--light-color);
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover{
    color:var(--orange);
}

.header .shopping-cart .box .contents h3{
    color:#ccc;
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .contents span{
    color:#ccc;
    font-size: 1.6rem;
}

.header .shopping-cart .box .contents .quantity{
    padding-left: 1rem;
}

.header .shopping-cart .total{
    font-size: 2.5rem;
    padding:1rem 0;
    text-align: center;
    color:#ccc;
}

.header .shopping-cart .btnCart{
    display: block;
    text-align: center;
    margin:1rem;

}

/* .quick_cart_div h5{
    color: inherit;
    display: block;
    border-bottom: 1px solid #353535;
    line-height: 35px;
    margin-bottom: 0;
    font-size: 18px;
    color: #949494
} */

/* Cart */

.main-shopping {
    margin: -30px auto 0;
    width: 1170px;  
   
}

.cart-infor {
   
    background: black;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    top: 150px;
    padding: 12px;
    width: 585px;
    margin: 15px;
    margin-left: 292px;
}


.order-cart-1
{
    width: 1170px;
}
.order-cart-1 ul li {
    /*  */
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    list-style:none;
    text-align: center;
}
.table-cart{
    /*  */
    background: #bebcbc;
    height: 30px;
    line-height: 30px;
    width: 1170px;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.cart_order ul li.sp {
    /*  */
    width: 225px;
}
.order-cart-1 ul li.sanpham_cart {
    /*  */
    width: 619px;
}

.cart_order ul li.sl {
    /*  */
    width: 57px;
    text-align: center;
}

.order-cart-1 ul li.soluong_cart {
    /*  */
    width: 150px;
    text-align: center;
}

.order-cart-1 ul li.dongia_cart, .order-cart-1 ul li.thanhtien_cart {
    /*  */
    width: 200px;
    text-align: center;
    font-size:14px;
}

.cart_ul tt
{
    width:100px;
    text-align:center;
}

.delete-cart:before {
    /*  */
    content: "";
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #777;
    font-size: 16px;
    padding-right: 3px;
}

.delete-cart a {
    /*  */
    cursor: pointer;
    color: #ff0000;
    /* background-color: white; */
}

.bottom_cart {
    /*  */
    /* border-left: 1px solid #e3e3e3; */
    height: 80px;
}

.cart_order ul {
    /*  */
    clear: both;
}

.bottom_cart .cart_image {
    /*  */
    float: left;
    padding-right: 6px;
    width:55px;
}
.cart-title {
    /*  */
    display: block;
    height: 26px;
    overflow: hidden;
}

b.cart-title
{
    /*  */
    font-weight:100;
    font-size: 15px;
    text-align: center;
}

.bottom_cart .update_cart_text {
    /*  */
    border: 1px solid #ddd;
    height: 20px;
    line-height: 20px;
    margin-top: 17px;
    text-align: center;
    width: 25px;
}

.bottom_cart li.dg, .bottom_cart li.tt {
    /*  */
    line-height: 50px;
}

.bottom_cart li {
    /*  */
    padding-top: 5px;
    padding-bottom: 5px;
}

.bottom_cart li {
    /*  */
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    height: 60px;
    overflow: hidden;
}

.bottom_cart .tt, #TongTienCart {
    color: #424141;
    font-weight: bold;
    color: white;
}
.sum_money{
    font-size: 14px;
}
strong.sum_sp
{
    /*  */
    font-size: 14px;
    color:#fc0000;
}

.update_again_cart
{
    /*  */
    background: black;
    color:#fff;
    /* border-radius:15px; */
    cursor:pointer;
    text-transform:uppercase;
    margin: 20px 2px;
    padding:10px;
    border:none;
}

.go_shopping .update_again_cart {
    /*  */
    margin-top: 7px !important;
}

input.update_again_cart:hover
{
    /*  */
    background:#b3870f;
    cursor:pointer;
}

a.dat_hang {
    /*  */
    float: right;
    background: #000000;
    color: #fff;
    /* border-radius: 12px; */
    cursor:pointer;
    margin: 20px 2px;
    padding:10px;
    font-weight: 600;
    font-size: 13px;
}

a.dat_hang:hover
{
    /*  */
    background:#b3870f;
}
a#dat_hang:hover
{
    /*  */
    background:#b3870f;
}

input.dat_hang:hover {
    /*  */
    background:#b3870f;
    cursor:pointer;
}

.btnDatHang {
    background: #000000 none repeat scroll 0 0;
    clear: both;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
a.delete-product {
    /*  */
    display: -webkit-inline-box !important;
    color: red !important;
    margin: 0px !important;
}
.back-page {
    /*  */
    float: right;
    padding: 10px;
    text-transform: uppercase;
    background: #000000;
    cursor: pointer;
    font-weight: 600;
    font-size:12px;
    margin:15px 0;
    /* border-radius:7px; */
    color:#fff;
    box-shadow: 2px 2px 5px #CCC;
}

.back-page:hover
{
    background:#b3870f;
}

.delete_all
{
    /*  */
    float: left;
    padding: 9px;
    text-transform: uppercase;
    background: #000000;
    cursor: pointer;
    font-weight: 600;
    font-size:12px;
    margin: 15px;
    /* border-radius:7px; */
    margin-left:2px;
    color:#fff;
    box-shadow: 2px 2px 5px #CCC;
}

.delete_all:hover
{
    /*  */
    background:#b3870f;
}

.clear-px {
    /*  */
    clear: both;
    height: 100%;
}

.clear50px {
    /*  */
    clear: both;
    height: 184px;
}
a.day:hover
{
    /*  */
    color:#b3870f;
}
.sc_infor {
    /*  */
    font-size: 29px;
}
.sc_inforr {
    /*  */
    font-size: 20px;
    margin-right:59px;
}

/* Cart in cart */


.nr-cart-header .shoping-cart-widget {
    /* display: inline-block; */
    padding: 100px 0;
    min-width: 295px;
    text-align: left;
    width: auto;
    padding: 40px 0;;
}

.nr-cart-header .shoping-cart-widget h5 {
    color: inherit;
    display: block;
    border-bottom: 1px solid #353535;
    line-height: 35px;
    margin-bottom: 0;
    font-size: 18px;
    color: #949494;
    margin-right: 20px;
}

.shoping-cart-widget .product_list_widget li, .product_list_widget li {
    list-style: none;
    display: block;
    overflow: hidden;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #f1f1f1;
    position: relative;
}



.nr-cart-header .widget_shopping_cart p.total,
.nr-cart-header .shoping-cart-widget p.total {
    border-color: #353535;
    font-family: 'Roboto', sans-serif;
}

.shoping-cart-widget p.buttons .button.wc-forward {
    background-color: #565656;
    background-color: #565656;
    font-size: 12px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 9px 25px;
    color: #ffffff;
    border: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-align: center;
    outline: none;
    box-shadow: none;
    border-radius: none;
}

.shoping-cart-widget p.buttons .button {
    display: block;
    margin-top: 17px;
}

.shoping-cart-widget p.buttons .button.checkout {
    background-color: #565656;
}

.shoping-cart-widget p.buttons .button.wc-forward:hover, .shoping-cart-widget p.buttons .button.checkout:hover {
    background-color: #bda47d;
}
/* .nr-cart-header .shoping-cart-widget .product_list_widget li .widget-cart-title-product .amount,
.nr-cart-header .product_list_widget li .widget-cart-title-product .amount {
    color: #ffffff;
} */

/* .nr-cart-header .shoping-cart-widget p.total .amount,
.nr-cart-header .widget_shopping_cart p.total .amount {
    color: #ffffff;
} */

/* .nr-cart-header .shoping-cart-widget .product_list_widget li .widget-cart-title-product a,
.nr-cart-header .product_list_widget li .widget-cart-title-product a {
    font-family: 'Roboto', sans-serif;
} */

/* .nr-cart-header .widget_shopping_cart_content {
    color: inherit;
} */

.nr-cart-header .shoping-cart-widget .product_list_widget li,
.nr-cart-header .product_list_widget li {
    border-color: #353535;
}
.cart_top {
    /* position: absolute;
    top: 40px;
    right: 60px; */
}

.cart_order
{
    /* width: 540px; */
}
.cart_div .count {
    /*  */
   
    color: #fff;
    display: block;
    float: left;
    /* font: 700 14px/24px "Roboto",sans-serif; */
    margin-top: 1px;
    padding: 0 11px;
    position: absolute;
    font-size: 18px;
   
}
.top_cart {
    background: #949494;
    height: 30px;
    line-height: 30px;
    width: auto;
    font-size:14px;
}
.quick_cart ul.top_cart {
    /*  */
    background: #C99947;
    color: #fff;
    border-radius: 3px;
    /* width: 506px; */
    padding-left: 24px;
}

.cart_order ul li {
    float: left;
    color: white;
    padding-right: 25px;
    padding-left: 16px;
    list-style:none;
}

.cart_order ul {
    clear: both;
}

/* .quick_cart
{
    
    display: none;
    background: #fff;
    width: 530px;
    height: auto;
    position: absolute;
    right: 11px;
    z-index: 999999;
    box-shadow: 1px 1px 13px #000;
    padding-bottom: 15px;
    margin-top: 40px;
    margin-right: -11px;
    border-radius: 4px;
} */

/* --------------------------END SHOPPING CART------------------------------------- */

/* ---------------------------PAGE THANH TOÁN---------------------------------------- */

.dat_hangsr
{
    width: 107px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background:black;
    color:#fff;
}
.dat_hangsr:hover
{
    background:#C99947;
}

.re-gis
{
    width: 1170px;
    margin: 20px auto 0;
}









































































/* ==========================================CSS FOOTER========================================= */
.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    padding: 40px 0;
    background-color: #191919;
    display:flex;
    flex-direction: column;
    padding: 4rem 0;
    z-index: 1;
      
}
.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #fff;
}
.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
.footer .social a:hover{
    opacity: 1.9;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    color: #fff;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity:0.8;
    transition: all 0.3s ease;
}
.footer ul li a:hover{
    opacity: 1.9;
    padding-left: 5px;
}
.footer ul li {
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}
@media screen and (max-width: 1000px){
    
.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
}
}
@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
        color: #fff;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: inline-block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
    nav .search-form{
       height: auto;
        width: 90%;
    }
    .header .shopping-cart{
        width: 90%;
        height: auto;
        overflow: scroll;
    }
    nav .icons {
        position: relative;
        top: -100px;
        left: -45px;
        padding-top: -20px;
        background-color: #666;
    }
    
    html{
        font-size: 60%;
    }
    .footer {
       
        bottom: 0;
        left: 0;
        right: 0;
        display:flex;
        flex-direction: column;
    }

	
}

@media (max-width:480px){

    

    .heading{
        font-size: 2.5rem;
    }

    
    .header .logo {
		float: left;
		width: auto;
        font-size: 18px;
		justify-content: center;
	}
    nav .icons {
        position: relative;
        top: -0px;
        left: -40px;
    }
    nav .search-form{
        height:90%;
        width: 90%;
    }
    nav .login-form{
        width: 90%;
        height: auto;
    }
    .header .shopping-cart{
        width: 90%;
        height: auto;
    }
    nav .search-form input, label {
        font-size: 15px;
    }
   
}
@media (max-width:270px){
    *{
        font-size: 50%;
    }
    .header .logo {
		float: left;
		width: auto;
        font-size: 60%;
		justify-content: center;
	}
    nav .icons {
        position: relative;
        top: -0px;
        left: -40px;
    }
}
